body {
    --roomRadius: 6px;
}

.room {
    /* Moved to room.html, because CSS was stubborn */
}

.roomText {
    position: absolute;
    font-weight: 500;
    top: 23px;
    left: 3px;
}

.roomSlider {
    -webkit-appearance: none;
    position: absolute;
    width: calc(100% - 35px);
    height: 25px;
    background: #383838;
    opacity: 0.5;
    backdrop-filter: blur(8px);
    outline: none;
    top: 45px;
    border-radius: 0 0 0 var(--roomRadius);
}

.checkboxPositioner {
    position: absolute;
    top: 45px;
    left: calc(100% - 35px);
}